{% extends 'baseBackOffice.html.twig' %}

{% block title %}
	Back office Utilisateur
{% endblock %}

{% block body %}
	<main class="app-content">

		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-th-list"></i>
					Table de donner</h1>
				<p>Table affichage donne des Allergene
				</p>
			</div>
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item">
					<i class="fa fa-home fa-lg"></i>
				</li>
				<li class="breadcrumb-item">Tables</li>
				<li class="breadcrumb-item active">
					<a href="#">Data Table</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div class="table-responsive">
							<table class="table table-hover table-bordered" id="sampleTable">
								<thead>
									<tr>
										<th>identifiant Allergene</th>
										<th>Nom Allergene</th>
										<th>Description</th>
										<th>createdAt</th>
										<th>nb Profile</th>
										{# <th>admin</th> #}
										<th>MODIFIER</th>
										<th>SUPPRIMER</th>
									</tr>
								</thead>
							</tr>
						</thead>
						<tbody>
							{% for item in forms %}
								{{ form_start(item) }}
								<div style="display:none ">
									{{ form_widget(item.creeNewAllergene) }}
								</div>
				
								<tr>
									<td>
										<label>
											<input
											name='id' value={{item.vars.value.id}} style="border:none" readonly="readonly">
										
										</label>
									</td>
									<td>
										{{form_widget(item.nom_allergene,{
														'attr':{
															'style':'border:none'
														} 
										})}}
									</td>
									<td>

										<label>
											{{form_widget(item.description,{
														'attr':{
															'style':'border:none'
														} 
											})}}
										
										</label>
									</td>
									<td>

										<label>
											{{form_widget(item.createdAt,{
														'attr':{
															'style':'border:none'
														} 
											})}}
										
										</label>
									</td>
				
									<td>
										<label>

											{{item.vars.value.profils.count}}
										
										</label>
									</td>

									<td>
										{{form_widget(item.modifier,{
											'attr':{
												'class':"btn-primary btn-modifier1",
												'label':''
											}
										})}}
								
									</td>
									<td>
										{{form_row(item.supprimer,{
											'attr':{
												'class':'btn-danger',
												'style':"background-color:red;"
											}
										})}}
									</td>
								</tr>
								{{ form_end(item) }}
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
			<br>
			<button id="modalopen" class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalAjouterVoyageur">
				<i class="fa fa-fw fa-lg fa-check-circle"></i>ajouter</button>
		</div>
	</div>
</div></div></main>{# {{ dump()}} #}<div id='hide' style="margin-top:900px;position:absolute">
{{form_start(formRegistration)}}
{% do formRegistration.supprimer.setRendered() %}
{% do formRegistration.modifier.setRendered() %}
{% do formRegistration.createdAt.setRendered() %}

<div id="modalAjouterVoyageur" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header" style="background-color: #009688">
			<h5 class="modal-title">creer un nouveau Utilisateur ou admin</h5>
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div
			class="modal-body">
			{# {{dump(formRegistration)}} #}
			<div class="md-form mb-5">
				{# <label data-error="wrong" data-success="right" for="txtNumeroVoyagejVoyageur">numero du voyage</label> #}
				{# <input type="text" id="txtNumeroVoyagejVoyageur" class="form-control validate"> #}
			{{form_row(formRegistration.nom_allergene)}}
			</div>

				<div class="md-form mb-5"> {# <label data-error="wrong" data-success="right" for="txtNumeroVoyageurjVoyageur">numero de voyageur</label> #}
				{# <input type="text" id="txtNumeroVoyageurjVoyageur" class="form-control validate">  #}
			{{form_row(formRegistration.description)}}
			</div>
		</div>
		<div class="modal-footer">
            {{form_widget(formRegistration.creeNewAllergene,{
                'attr':{
                    'class':'btn-primary'
                },
                'label':'Creer Profile !'
            })}}
			{# <button id="btninsert" name="insert" value="Ajouter Profile !" class="btn btn-primary" type="submit">Ajouter Profile !</button> #}
			<button id="modalclose" class="btn btn-secondary" type="button" data-dismiss="modal" style="background-color:#6c757d">Annuller</button>
		</div>
	</div>
</div>
{{form_end(formRegistration)}}
</div>
{% endblock %}
