{% extends 'baseBackOffice.html.twig' %}

{% block title %}
	Back office Utilisateur
{% endblock %}

{% block body %}
	<main class="app-content">

		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-th-list"></i>
					Table de donner</h1>
				<p>Table affichage donne d
				{% if type == "admins" %}
					'admin
				{% else %}
					 es Utilisateur 
				{% endif %}
				</p>
			</div>
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item">
					<i class="fa fa-home fa-lg"></i>
				</li>
				<li class="breadcrumb-item">Tables</li>
				<li class="breadcrumb-item active">
					<a href="#">Data Table</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div class="table-responsive">
							<table class="table table-hover table-bordered" id="sampleTable">
								<thead>
									<tr>
										<th>identifiant Profile</th>
										<th>Compte</th>
										<th>Nom</th>
										<th>Prenom</th>
										<th>Age</th>
										{# <th>admin</th> #}
										<th>nbScan</th>
										<th>nbAllergene</t> 
										<th>MODIFIER</th>
										<th>SUPPRIMER</th>
									</tr>
								</thead>
							</tr>
						</thead>
						<tbody>
							{% for item in forms %}
								{{ form_start(item) }}
								{# {% for user in users %} #}
								<tr>
									<td>
										<label>
											{{item.vars.value.id}}
											{# <input type="text" value="{{user.profils.count}}" style="border:none" id="inBagageVoyageVoyageur nb "> #}
										</label>
									</td>
									<td>

										{{form_widget(item.user,{
														'attr':{
															'style':'border:none'
														} 
												})}}
										{# <input type="text" value="{{user.id}}" style="border:none" id=""> #}
									</td>
									<td>

										<label>
											{{form_widget(item.nom,{
														'attr':{
															'style':'border:none'
														} 
													})}}
											{# <input type="text" value="{{user.email}}" style="border:none" id=""> #}
										</label>
									</td>
									<td>

										<label>
											{{form_widget(item.prenom,{
														'attr':{
															'style':'border:none'
														} 
													})}}
											{# <input type="text" value="{{user.nom}}" style="border:none" id=""> #}
										</label>
									</td>
									<td>

										<label>
											{{form_widget(item.age,{
														'attr':{
															'style':'border:none'
														} 
													})}}
											{# <input type="text" value="{{user.prenom}}" style="border:none" id="in"> #}
										</label>
									</td>
									{# <td>
																																																														<label>
																																																															{{form_widget(item.admin)}} #}
									{# {{item.vars.value.admin}} #}
									{# <input type="text" value="{{user.profils.count}}" style="border:none" id="inBagageVoyageVoyageur nb "> #}
									{# </label>
																																																													</td> #}
										<td>
											<label>
										{{item.vars.value.scan.count}}
											{# <input type="text" value="{{user.profils.count}}" style="border:none" id="inBagageVoyageVoyageur nb "> #}
										</label>
									</td>

                                    <td>
											<label>
										{{item.vars.value.allergene.count}}
											{# <input type="text" value="{{user.profils.count}}" style="border:none" id="inBagageVoyageVoyageur nb "> #}
										</label>
									</td>



									<td>
										{{form_widget(item.modifier,{
											'attr':{
												'class':"btn-primary btn-modifier1",
												'label':''
											}
										})}}
									{#<button class="btn-primary btn-modifier1" type="submit" name="btn_modifier">#}
										{# <i class="fa fa-fw fa-lg fa-check-circle"></i>modifier</button>  #}
									</td>
									<td>
										{# <button class="btn-danger" type="submit" id='btn_supprimer'>#}

										{{form_row(item.supprimer,{
											'attr':{
												'class':'btn-danger',
												'style':"background-color:red;"
											}
										})}}
										{# <i class="fa fa-fw fa-lg fa-check-circle"></i></button>  #}
									</td>
								</tr>
								{# {% endfor %} #}
								{{ form_end(item) }}
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
			<br>
			<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalAjouterVoyageur">
				<i class="fa fa-fw fa-lg fa-check-circle"></i>ajouter</button>
		</div>
	</div>
</div></div></main>{{ dump()}}
{{form_start(formRegistration)}}
<div id="modalAjouterVoyageur" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><div class="modal-dialog" role="document">
<div class="modal-content">
	<div class="modal-header" style="background-color: #009688">
		<h5 class="modal-title">creer un nouveau Utilisateur ou admin</h5>
		<button class="close" type="button" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div
		class="modal-body">
		{# {{dump(formRegistration)}} #}
		<div class="md-form mb-5">
			{# <label data-error="wrong" data-success="right" for="txtNumeroVoyagejVoyageur">numero du voyage</label> #}
			{# <input type="text" id="txtNumeroVoyagejVoyageur" class="form-control validate"> #}
			{{form_row(formRegistration.nom)}}
		</div>

			<div class="md-form mb-5"> {# <label data-error="wrong" data-success="right" for="txtNumeroVoyageurjVoyageur">numero de voyageur</label> #}
			{# <input type="text" id="txtNumeroVoyageurjVoyageur" class="form-control validate">  #}
			{{form_row(formRegistration.prenom)}}
		</div>

			<div class="md-form mb-5"> {# <label data-error="wrong" data-success="right" for="txtBagagejVoyageur">bagage</label> #}
			{# <input type="text" id="txtBagagejVoyageur" class="md-textarea form-control"> #}
			{{form_row(formRegistration.email)}}
		</div>

			<div class="md-form mb-5"> {# <label data-error="wrong" data-success="right" for="txtLieuRencontrejVoyageur">lieu de rencontre</label> #}
			{# <input type="text" id="txtLieuRencontrejVoyageur" class="md-textarea form-control"> #}
			{{form_row(formRegistration.numeroTelephone)}}
		</div>
			<div class="md-form mb-5"> {# <label data-error="wrong" data-success="right" for="txtLieuRencontrejVoyageur">lieu de rencontre</label> #}
			{# <input type="text" id="txtLieuRencontrejVoyageur" class="md-textarea form-control"> #}
			{{form_row(formRegistration.password)}}
		</div>
			<div class="md-form mb-5"> 
			{# <label data-error="wrong" data-success="right" for="txtLieuRencontrejVoyageur">lieu de rencontre</label> #}
			{# <input type="text" id="txtLieuRencontrejVoyageur" class="md-textarea form-control"> #}
			{{form_row(formRegistration.confirm_password)}}
	</div>

	</div>

		<div
		class="modal-footer"> {# <button id="btninsert" name="insert" value="insert" class="btn btn-primary" type="button">Ajouter</button> #}
		{{form_widget(formRegistration.btn_register,{
			'attr':{
				'class':'btn-primary'
			},
			'label':'Inscription !'
		})}}
		<button class="btn btn-secondary" type="button" data-dismiss="modal" style="background-color:#6c757d">Annuller</button>
	</div>
</div></div></div>
{{form_end(formRegistration)}}
{% endblock %}
